.ProfileWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.toResume {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background: var(--green);
  color: var(--white);
  width: auto;
  display: inline-block;
  white-space: nowrap;
  max-width: fit-content;
  text-decoration: none;
}

.toResume:hover {
  background-color: var(--brown);
}
button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background: var(--green);
  color: var(--white);
  width: auto;
  display: inline-block;
  white-space: nowrap;
  max-width: fit-content;
}
